/* Standard Styling CSS */
* {
    color:rgb(175,175,185);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

h2, h3, h4, h5, h6 {
    color:rgb(101,126,201);
}

.link {
    color: rgb(101,126,201);
    font-size: 1em;
}

.link:hover {
    color:rgb(175,175,185)
}

/* Panel CSS */
.panel {
  box-shadow: none;
}


.paneltext {
    width:33%;
    clear: none;
    display: inline-block
}

.contactpanel {
    width:100%;
    text-align: center;
}

.chartpanel{
    width:66%;
    display: inline-block;
    clear:none;
    float:right;
    text-align: center;
}

div.google-visualization-tooltip {
  background-color: rgb(101,126,201);
  border: none;
}

.google-visualization-tooltip-item {
  color:rgb(101,126,201);
}

.contactpanel h1 {
  font-size: 2em;
}

/* Tabel CSS */
.table {

}

.table tr > th {

}

.header {
  display: block;
  clear:both;
  min-width: 200px;
  width:100%;
  height: 50px;
  text-align: left;
  padding-left: 15px

}

/* Padding CSS */

.ThirtyThreeleft {
    padding-right:33.3%

}


.ThirtyThreeright {
    padding-left: 33.3%;
}

.halfwidth td {
    width:50%
}

/* About CSS */


.about{
    color:rgb(175,175,185);
}

/* Styling A CSS */
.styA {
    color:rgb(101,126,201);
}

.styA h1, h3 {
    color:rgb(101,126,201);
}

.styA h4 {
    color:rgb(101,126,201);
}

.styA form > div > button {
    background-color: rgb(101,126,201);
    color:rgb(254,255,254);
    font-family: 'Poppins', 'san-serif';
    font-size: 1em;
}

.styA form > div > a {
    color:rgb(101,126,201);
    font-family: 'Poppins', 'san-serif';
    font-size: 1em;
    margin-left: 20px;
}

.styA ol > li > label, input {
    color:rgb(101,126,201);
    font-family: 'Poppins', 'san-serif';
    font-size: 1em;
}


/* Navbar CSS */
.navbar {
    height:100px;
    margin-top: 0px;
    padding-top: 0px;

}

.navbarimg {
    max-height: 100px;
    width: auto;
    margin-top: -20px;
}

.navbar-nav > li > a {
    height:100px;
    padding-top: 40px;
    margin-top: 0px;
}

.navbar-nav > li > a:hover {
    height:100px;
    background-color:rgb(101,126,201);
    color:rgb(254,255,254);
    margin-top: 0px;

}

/* Carousel CSS */

.carousel-caption {
    position: relative;;
    background-color: rgba(0,0,0,0.0);
    margin: auto;
    padding: auto;
    padding-left: 0px;
    float: left;
    right: 50%;
    left: 0%;
    bottom: 25%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0);
    width:100%;
    border: 1px, solid;

}

.carousel-control.left {
  background-image: none;
  filter: none;
  background-repeat: repeat-x;
  top:30%;
  bottom:30%;
}
.carousel-control.right {
  background-image: none;
  filter: none;
  background-repeat: repeat-x;
  top:30%;
  bottom:30%;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  top:35%
}
@media (min-width: 0px){
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
  top: 20%
}
}

@media (min-width: 500px){
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
  top: 23%
}
}

@media (min-width: 768px){
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
  top: 25%
}
}

@media (min-width: 992px){
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
  top: 30%
}
}

@media (min-width: 1200px){
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
  top: 35%
}
}

.carousel-indicators{

}

@media (min-width: 0px){
.carousel-indicators {
  bottom: 60%
}
}
@media (min-width: 500px){
.carousel-indicators {
  bottom: 50%
}
}
@media (min-width: 768px){
.carousel-indicators {
  bottom: 45%
}
}

@media (min-width: 992px){
.carousel-indicators {
  bottom: 35%
}
}

@media (min-width: 1200px){
.carousel-indicators {
  bottom: 30%
}
}

.carousel-caption > h3 {

}

.carousel-caption > p , p > a {
    color:rgb(175,175,185);
    font-size: 1em;
}

/* Button CSS */

.btncust {
    width:100%;
    background-color:rgb(101,126,201);
    color:rgb(254,255,254);
}
.btncaro {
    background-color:rgb(101,126,201);
    color:rgb(254,255,254);
}

.bandw{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

#bs-example-navbar-collapse-1 {
  position: absolute;
  float: right;
  right:0;
  background-color: rgba(254,255,254,0.9);
  text-align: right;
  z-index: 9999;
}

.icon-bar {
  color: rgb(101,126,201);;
  background-color: rgb(101,126,201);;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  color: rgba(255,255,255,1);
}

.files {
  border:0px;
  border-left: 1px solid;
  border-color: rgb(101,126,201);
  border-radius: 0;
}

.file {
  background-color: rgb(101,126,201);
  color:white;
  text-decoration: : none;
}

.file h4 {
  color:rgb(254,255,254);
  text-decoration: : none;
}

.file:hover {
  background-color: rgb(175,175,185);
  text-decoration: : none;
}

.sel {
  text-decoration: none;
}

.sel:hover {
  background-color: rgb(101,126,201);
  border:solid 1px;
  border-color: rgb(254,255,254);
  color:white;
  text-decoration: none;
}

.add {
  float: right;
  background-color: rgb(101,126,201);
  border: 0px;

}

.add button > span{
  color:white;
}

.filet{
  display: inline;
  clear:none;
  float:none;
  text-align: center;
}

.fileslogo {
  display:inline;
  max-width:100%;
  text-align:center
}

.profile {
  display: inline;
  clear: none;
  float: none;
}
