{% extends "base.html" %}
{% load i18n %}

{% block content %}
<p class='text-align-center lead'>You have successfully logged out.</p><p class='text-align-center lead'><a class="link" href="{% url 'auth_login' %}">Login</a></p></p>
{% endblock %}
