{% extends "base.html" %}
{% load i18n %}

{% block content %}

<p>{% trans "Password reset successfully" %}</p>

<p><a class="link" href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>

{% endblock %}
