{% extends "password_reset/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block content %}
	<form method="post" action="{{ url }}">
		{% csrf_token %}
		{{ form|crispy }}
		<p><input class="btn btn-block btncust" type="submit" value="{% trans "Recover my password" %}"></p>
	</form>
{% endblock %}
