<!-- #Created by Wesley Garlock Version 1.0 Published June 8th 2016 -->
{% extends 'base.html' %}

{% block content %}

<div class="panel about">
    <div class="panel-heading ThirtyThreeleft"><h4>ABOUT US</h4></div>
    <div class="panel-body ThirtyThreeleft">
        Third Millennium Properties is a private firm dedicated to investing alongside corporations and private funds in the purchase, management, and growth of real estate portfolios and corporate buy-outs. Each of Third Millennium’s investments are organized under a Special Purpose Entity and financed by major financial institutions. The firm has established a solid reputation for dealing with highly customized financing solutions.

        The principals of Third Millennium Group each have over 20 years of relevant experience in executive management positions and possess a broad range of expertise in all aspects of commercial real estate management including acquisition structuring, financing, tax analysis, leasing and building operations.

        The firm currently manages the investment of approximately $1 billion in real estate assets across the United States. Since 1985, the firm has traded over $5 billion in real estate assets.
    </div>

    <div class="panel-heading ThirtyThreeright"><h4>STRATEGY</h4></div>
    <div class="panel-body ThirtyThreeright">
        Third Millennium Group has a dual investment strategy. The firm acquires best-in-class/best-in-submarket properties with unique opportunities for creating added value using the Third Millennium’s time-tested asset repositioning strategy. Third Millennium also acquires mission-critical long-term NNN leased properties. Using these dual investment strategies, Third Millennium has been able to consistently deliver high risk-adjusted returns across various property markets and through all real estate cycles. Third Millennium also leverages the legal, tax and financial expertise of its executive team to enable the Company to undertake the most complex acquisitions and development projects.
    </div>

    <div class="panel-heading"><h4>EXECUTIVE MANAGEMENT</h4></div>

    <!-- Table -->
    <table class="table">
        <tr>
            <th><h2>Joseph Mizrachi</h2></th>
            <th><h2>David Alcalay</h2></th>
        </tr>
        <tr>
            <td>MANAGING DIRECTOR</td>
            <td>BOARD MEMBER - DIRECTOR</td>
        </tr>
        <tr>
            <td>Mr. Mizrachi is a well respected real estate investor and asset manager. Over his year career he has been involved in transactions totaling many millions of square feet and billions of dollars worldwide. Prior to founding the firm, Mr. Mizrachi served on the Advisory Board of the First New York Bank for Business in New York and on the Board of American Realty Directors, Inc. (a NYSE company) in Dallas, Texas. He was Director at Heritage International Bank of Bethesda, Maryland. He served as a member of the Board of Directors of Tarrant Apparel Group (TAGS – NASDAQ), and he served as co-chairman of the special committee which oversaw the management buyout of the company.Mr. Mizrachi has a BA in Economics and an MBA in finance and marketing from the Hebrew University in Jerusalem. He also received a CLU, ChFC, and a Masters of Science in financial services from American College Bryn Mawr in Pennsylvania.</td>
            <td>Mr. Alcalay has managed, operated, and invested in many commercial real estate assets. Furthermore, Mr. Alcalay has served as the president of New England Flour Corp. and US Flour Corp. since 1975. New England Flour Corp. imports, exports, distributes wheat, corn, and soybeans. New England Flour Corp. trades these commodities in the Chicago, Minneapolis, and Kansas grain exchange. US Flour Corp. is a supplier of wheat products to wholesale food bakeries, supervises the distribution and shipment of grain products, and trades wheat commodities. Jointly US Flour Corp. and New England Flour Corp. have annual sales that exceed $200 million per year and comprise the largest flour distribution company in the United States. Mr. Alcalay began his career as a securities and financial advisor at Bank Leumi in Israel after receiving a BA in Economics and Political Science from the Hebrew University in Jerusalem.</td>
        </tr>
        <tr>
            <th><h2>Eyal Ben-Yosef</h2></th>
            <th><h2>Joseph Etstein</h2></th>
        </tr>
        <tr>
            <td>BOARD MEMBER</td>
            <td>DIRECTOR - PROJECT MANAGER</td>
        </tr>
        <tr>
            <td>Mr. Ben-Yosef has managed, operated, and invested in many commercial and residential real estate assets. Furthermore, Mr. Ben-Yosef has been president and 50% owner of Federal Jeans Inc. since 1995. Federal Jeans Inc. is a major importer, distributor, and manufacturer of denim products headquartered in New York City which has over $100 million in sales. Mr. Ben-Yosef began his career in the fashion industry at Shami Fashion Co. and Oren Fashion Co. in the 1980’s, and he was the President of Speed Control Clothing Manufacturers, a company that manufactured denim in China from 1989-2004.</td>

            <td>Mr. Etstein is a well experienced real estate expert and qualified construction manager. Over his career he has been involved in Mega Projects totaling millions of square feet worldwide. Notable transactions and construction projects include the Waterfron Square in Philadelphia, PA, My Mall in Limassol, Cyprus and Manhattan Tower in Tel Aviv, Israel. Prior to joining the Third Millennium Group, Mr. Etstein served as the C.E.O. of the International Development Group B.S.R. He was the partner of Bovis Lend Lease serving as the Construction management Firm for the development of Terminal 3 Complex at Tel Aviv International Airport. Mr. Etstein has a B.Sc in Industrial Engineering and Management from the Technion Israel Institute of Technology.</td>
        </tr>
        <tr>
            <th><h2>Adi Burnstein</h2></th>
            <th><h2>Adam Mizrachi</h2></th>

        </tr>
        <tr>
            <td>Board Member - VAS Aero: CEO</td>
            <td>Director</td>
        </tr>
        <tr>
          <td>Adi Bernstein is executive chairman equity owner of VAS Aero Services, (formerly Volvo Aerospace) a wholly owned subsidiary and a
            Managing Partner at America Aero Group LLC. An aerospace professional with 33 years of industry experience, Mr. Bernstein has a solid
            trading marketing and distribution background having lead transformational change in the Airframe Engines consumable and component
            MRO segment, initiated and facilitated a number of signifcant Mergers &amp; Acquisitions in the aerospace industry and has been very active in
            the aircraf and engines trading area. Trough out his carrier, Mr. Bernstein has been involved in many facets of the airline industry including: Aircraf Leasing (founder of
            successful leasing enterprises), P&amp;L Management, M&amp;A, Marketing and establishing global distribution networks for aircraf components
            repair &amp; overhaul services. Mr. Bernstein graduated Magna Cum Laude from Hofstra and later NY University in 1983 with a Bachelor’s Degree in Finance and Business
            Management.
          </td>
            <td>Mr. Mizrachi has over 5 years of experience in the commercial real estate industry. Has has been directly involved in operations, construction management, acquisition, sales, leasing, debt restructuring, and joint venture structuring. Mr. Mizrachi is currently serves as director of operations for 2 million SF of class-A office space in Chicago, nearly 3 million SF of warehouse space in Colorado and North Carolina, and the operation of a corporate cafeteria. Through Mr. Mirzrachi’s leadership, Third Millennium Group instituted a nationwide LEED certification program, a water recycling system at 540 West Madison in Chicago, and an urban apiary initiative to help Chicago’s embattled bee population. </td>
        </tr>
    </table>
    <div class="panel-heading"><h4>LEGAL</h4></div>

    <!-- Table -->
    <table class="table">
        <tr>
            <th><h2>Maryanne Small, Esq.</h2></th>
            <th><h2>Seymour Braun, Esq.</h2></th>
        </tr>
        <tr>
            <td>LEGAL - GENERAL COUNSEL</td>
            <td>LEGAL - RETAINER</td>
        </tr>
        <tr class=halfwidth>
            <td>Ms. Small has over 10 years of experience practicing commercial real estate law, and has extensive experience in all aspects of the commercial real estate business. She represented clients in acquisitions, sales, financing, leasing, development, debt restructuring, foreclosures, and joint ventures. Ms. Small’s clients have included developers, underwriters, banks, investment companies, state and local housing and finance agencies, and public-private partnerships. She has counseled owners, developers, borrowers, lenders, landlords, and tenants in connection with a variety of commercial real estate holdings, including office buildings, hotels, multifamily apartment complexes, shopping malls, and industrial and warehouse properties. Ms. Small began her career at Swidler Berlin Shereff Friedman LLP before moving to DLA Piper US LLP in 2004, and she has spent the past five years as the general counsel of a private equity real estate firm. Ms. Small received a BA from the University of San Diego and a JD from the University of Pennsylvania Law School.</td>

            <td>Mr. Braun has been involved with a foreign client group in the acquisition of US Real Estate including mortgages secured by condominiums and co-ops since 1994, and serves as the president of UFH Apartments Inc. which owns a large pool of apartments in Manhattan. Furthermore, Mr. Braun has been a senior partner of Braun &amp; Goldberg for more than 20 years. His firm specializes in international multi-jurisdictional matters including income tax, estate tax, and a Canadian REIT. His practice also advises foreign insurance companies insuring US risks. He has working experience with a large network of professional contacts in Israel, Switzerland, Liechtenstein, Luxembourg, Austria, and the Netherlands. Mr. Braun received his LLB from the University of Toronto in 1978 and his LLM (taxation) from New York University in 1984.</td>
    </table>

</div>


{% endblock %}
