<!-- #Created by Wesley Garlock Version 1.0 Published June 8th 2016 -->
{% load staticfiles %}
{% load recaptcha2 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block head_title %}Third Millienium Group{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    {% recaptcha_init %}
    <link rel="icon" type="image/png" href='{% static "img/favicon.ico" %}'/>

    <link rel="stylesheet" type="text/css" href='{% static "local/bootstrap/dist/css/bootstrap.min.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "local/bootstrap/js/bootstrap.min.js" %}'/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300' rel='stylesheet' type='text/css'>

    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type = 'text/css'/>

    <link rel=stylesheet type="text/css" href='{% static "css/base.css" %}'/>
</head>
<body>
    <div class='container'>
    <ul>
    </ul>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src = "{% static 'js/dropzone.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>
