<!-- #Created by Wesley Garlock Version 1.0 Published June 8th 2016 -->
{% extends 'base.html' %}

{% block content %}


<div class="panel contactpanel styA">
    <div class="panel-heading">
        <h1 class="panel-title">Contact Us</h1>
    </div>
    <div class="panel-heading">
        <h3 class="panel-title">THIRD MILLENNIUM GROUP</h3>
    </div>
    <div class="panel-body">
        <p><br>
        Florida Address:<br>
        7700 Congress Avenue Suite 3106<br>
        Boca Raton, Florida 33487<br>
        <br>
        New York Address:<br>
        110 E 59th Street, Suite 3201<br>
        New York, New York 10022<br>
        <br>
        Illinois Address:<br>
        300 South Riverside Plaza Suite 2375<br>
        Chicago,Illinois 60606<br>
        <br>
        Email Address:<br>
        <a class="link"  href="mailto:info@3rdmg.com" target="_top">Info@3rdmg.com</a>
    </div>
</div>

{% endblock %}
