<!-- #Created by Wesley Garlock Version 1.0 Published June 8th 2016 -->
{% extends 'base.html' %}

{% block content %}
<div class="row">
<h1 class="header"> Active Ventures </h1>
{% for obj in bprop %}
    <div class="col-sm-6 col-md-6 styA">
      <div class="thumbnail">
        <!--<img src="..." alt="...">-->
        <div class="caption">

        {% if obj.image %}
          <img class="img-responsive {% if obj.closed %}bandw{% endif %}" src="{{ obj.image.url}}"/>
        {% endif %}
            <h4>{{ obj.vname }}</h4>
            <p>{{ obj.sdescript }}</p>
        </div>
      </div>
    </div>
{% endfor %}
<h1 class="header"> Closed Ventures </h1>
{% for obj in prop %}
  <div class="col-sm-6 col-md-6 styA">
    <div class="thumbnail">
      <!--<img src="..." alt="...">-->
      <div class="caption">

      {% if obj.image %}
        <img class="img-responsive {% if obj.closed %}bandw{% endif %}" src="{{ obj.image.url}}"/>
      {% endif %}
          <h4>{{ obj.vname }}</h4>
          <p>{{ obj.sdescript }}</p>
      </div>
    </div>
  </div>


{% endfor %}
</div>
{% endblock %}
