<!-- #Created by Wesley Garlock Version 1.0 Published June 8th 2016 -->
{% extends 'base.html' %}

{% block content %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for obj in prop %}
    <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %} active {% endif %}"></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for obj in prop %}
      <div class="item {% if forloop.first %} active {% endif %}">
        {% if obj.carousel %}
            <img style="width:100%" src="{{ obj.carousel.url }}"/>
        {% endif %}
        <div class="carousel-caption">
            <h3>{{ obj.propname }}</h3>
            <p>{{ obj.city}}, {{obj.state}} <br>
            {{ obj.sdescript}}<br></p>
            <p><a href="{{obj.get_absolute_url}}" class="btn btncaro" role="button">View Property</a></p>
        </div>
      </div>
     {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="panel">
  <div class="panel-body ThirtyThreeright">
          <p>Third Millennium Properties is a private firm dedicated to investing alongside corporations and private funds in the purchase, management, and growth of real estate portfolios and corporate buy-outs. Each of Third Millennium’s investments are organized under a Special Purpose Entity and financed by major financial institutions. The firm has established a solid reputation for dealing with highly customized financing solutions.<br>
          <br>
          The principals of Third Millennium Group each have over 20 years of relevant experience in executive management positions and possess a broad range of expertise in all aspects of commercial real estate management including acquisition structuring, financing, tax analysis, leasing and building operations.
              <br>
              <br>
          The firm currently manages the investment of approximately $1 billion in real estate assets across the United States. Since 1985, the firm has traded over $5 billion in real estate assets.</p>
  </div>
</div>

{% endblock %}
