<!-- #Created by Wesley Garlock Version 1.0 Published June 8th 2016 -->
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<h2>Hello {{user.first_name}}</h2>
<hr>
<div class="panel paneltextprofile col-*-6 styA" style="float:left">
  <h1>Investments </h1>
  <div class="row">

  {% for init in prop %}
    {% for obj in init %}
      {% if forloop.first %}
        <div class="header">
          <h3> {{ obj.category|capfirst }}</h3>
        </div>
      {% endif %}
      <div class="styA">
        <div class="thumbnail">
        <!--<img src="..." alt="...">-->
          <div class="caption">

          {% if obj.image %}
            <img class="img-responsive {% if obj.closed %}bandw{% endif %}" src="{{ obj.image.url}}"/>
          {% endif %}
            <h4>{{ obj.propname }}</h4>
            <h6>{{ obj.category|capfirst }}</h6>
            <h6>{{ obj.city }}, {{ obj.state }}</h6>
            <p>{{ obj.descript|truncatechars:250 }}</p>
            <p><a href="{{obj.get_absolute_url}}" class="btn btncust" role="button">View Property</a></p>
        </div>
      </div>
    </div>

    {% endfor %}
  {% endfor %}
  </div>
</div>




{% endblock %}
