<!-- #Created by Wesley Garlock Version 1.0 Published June 8th 2016 -->
{% load staticfiles %}

<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="img-responsive navbarimg" src='{% static "img/3rdmillogocolor.png" %}'/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <li><a href="/client/venturecapital">Venture Capital</a></li>
        {% else %}
        <li><a href="/venturecapital">Venture Capital</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li><a href="/client/realestate">Properties</a></li>
        {% else %}
        <li><a href="/properties">Properties</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
        {% else %}
        <li><a href="/about">About</a></li>
        {% endif %}
        <li><a href="/contact">Contact</a></li>
        {% if request.user.is_staff %}
        <li><a href="/admin">Admin</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/client/profile">Your Profile</a></li>
            <li><a href="/client/profile/update">Update Profile</a></li>
            <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/client/investments">Investments</a></li>
          </ul>
        </li>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'auth_logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'registration_register' %}">Register</a></li>
        <li><a href="{% url 'auth_login' %}">Login</a></li>
        {% endif %}
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
