<!-- #Created by Wesley Garlock Version 1.0 Published June 8th 2016 -->
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div class="panel paneltextprofile col-*-6 styA" style="float:left">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Update Base Profile
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <form action="." method="post">{% csrf_token %}
              <table>
                  {{ form1|crispy }}
                  <tr><td colspan="2">
                      <input class="btn" type="submit" />
                  </td></tr>
              </table>
          </form>
        </div>
      </div>
    </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Update Contact Profile
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <form action="." method="post">{% csrf_token %}
            <table>
                {{ form2|crispy }}
                <tr><td colspan="2">
                    <input class="btn" type="submit" />
                </td></tr>
            </table>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
