<!-- #Created by Wesley Garlock Version 1.0 Published June 8th 2016 -->
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div class="panel paneltextprofile col-*-6 styA" style="float:left">
  <h1>Investment Profile </h1>
  {% if user.personal_info.Image %}
    <img class="img-responsive profileimg" src="{{user.personal_info.Image.url}}"/>
  {% endif %}
  <h4><strong>User Name:</strong> {{user.username}}</h4>
  <h4><strong>First Name:</strong> {{user.first_name}}</h4>
  <h4><strong>Last Name:</strong> {{user.last_name}}</h4>
  <h4><strong>Email:</strong> {{user.email}}</h4>
  <h4><strong>Cell Phone:</strong> {{user.personal_info.Cell_Phone}}</h4>
  <h4><strong>Home Phone:</strong> {{user.personal_info.Home_Phone}}</h4>
  <h4><strong>Street Address:</strong> {{user.personal_info.Street}}</h4>
  <h4><strong>City:</strong> {{user.personal_info.City}}</h4>
  <h4><strong>State:</strong> {{user.personal_info.State}}</h4>
  <h4><strong>Zipcode:</strong> {{user.personal_info.Zipcode}}</h4>
  <h4><strong>Country:</strong> {{user.personal_info.Country}}</h4>
</div>


{% endblock %}
