<!-- #Created by Wesley Garlock Version 1.0 Published June 8th 2016 -->
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block head_title %}{{prop.propid}} | {{ block.super}} {% endblock %}

{% block content %}
{% if a %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable({{a|safe}});

        var options = {
          title: '',
          chartArea: {
            width: '75%'
          },
          pointSize: 10,
          series: {
                0: { pointShape: 'triangle' },
                1: { pointShape: 'square' },
                2: { pointShape: 'diamond' },
            },
          legend: {
            textStyle: {color: '#AFAFB9'},
            position: 'top',
          },
          hAxis: {
            viewWindowMode:'explicit',
            viewWindow: {
              max:{{maxi|safe|floatformat:"0"}},
              min:{{mini|safe|floatformat:"0"}}
            },
            title: 'Year',
            titleTextStyle: {color: '#657EC9'},
            textStyle: {color: '#AFAFB9'},
            baseline: {{mini|safe|floatformat:"0"}},
            baselineColor: '#657EC9',
            gridlines: {
              count:{{length}},
              color: '#ffffff',
            },
            format:'####'

          },
          vAxis: {
            minValue: 0,
            textStyle: {color: '#AFAFB9'},
            baselineColor: '#657EC9',
            format: 'short',
            title: 'US Dollars',
            titleTextStyle: {color: '#657EC9'},
            gridlines: {
              color: '#ffffff'
            }
          },
          tooltip: {
            isHtml: true,
            textStyle: {color: '#FEFFFE'},
            format: '####'
          },
          pointsVisible: true,

        };
        var formatter = new google.visualization.NumberFormat({pattern:'####'});
        formatter.format(data, 0);

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endif %}
<div class="panel paneltext col-*-3 styA">
    <div class="panel-heading styA">
        <h3 class="panel-title">{{ prop.propname}}</h3>
    </div>
    <div class="panel-body styA">
        <p>{{ prop.street }}<br>
        {{ prop.city }}<br>
        {{ prop.state }}<br>
        {{ prop.zipcode }}<br>
        {{ prop.country }}<br></p>
    </div>
    {% if prop.image %}
        <img class="img-responsive" src="{{ prop.image.url}}"/>
    {% endif %}
    <div class="panel-heading styA">
        <h3 class="panel-title">Description</h3>
    </div>
    <div class="panel-body">
        <p>{{ prop.descript }}</p>
    </div>
</div>

<div class="panel chartpanel col-*-9 styA">
  {% if a %}
    <div class="panel-heading styA">
        <h3 class="panel-title">{{prop.propname}} Performance</h3>
    </div>
    <div class="panel-body styA">
        <div id="chart_div" class = "chart"></div>
    </div>
  {% endif %}
  <hr>
  <div class="panel-heading col-*-12">
    <h2 class="panel-title styA">{{prop.propname}} Dashboards</h2><br>
  <div class="panel-heading styA col-md-4 col-sm-12">
    <h3 class="panel-title filet">Files</h3><br>
    <small>Click on Image to Access File Repository</small>
      <a href="https://files.3rdmg.com/"><img class="img-responsive fileslogo" src="{% static 'img/files-logo-01.png' %}"/></a>
  </div>

  <div class="panel-heading styA col-md-4 col-sm-12">
    <h3 class="panel-title filet">Seasuite </h3><br>
    <small>Click on Image to Access Sustainability Performace</small>
    <a href="https://seasuitebygoby.force.com/experience/login"><img class="img-responsive fileslogo" src="{% static 'img/SeaSuiteBadge_RGB_500px.png' %}"/></a>
  </div>

  <div class="panel-heading styA col-md-4 col-sm-12">
    <h3 class="panel-title filet">Yardi </h3><br>
    <small>Click on Image to Access Accounting Platform</small>
    <a href="https://yardiasptx10.com/91556jade/pages/Login.aspx"><img class="img-responsive fileslogo" src="{% static 'img/yardi.jpeg' %}"/></a>
  </div>

  <div class="panel-heading styA col-md-4 col-sm-12">
    <h3 class="panel-title filet">Building Engines</h3><br>
    <small>Click on Image to Access Work Orders &amp; Preventative Maintenance</small>
    <a href="https://www.requestcom.com/"><img class="img-responsive fileslogo" src="{% static 'img/bengines.jpg' %}"/></a>
  </div>



{% endblock %}
