<!-- #Created by Wesley Garlock Version 1.0 Published June 8th 2016 -->
{% extends 'base.html' %}

{% block content %}
<h1 class="styA">Hello {{user.first_name}}</h1>
<div class="row">

{% for obj in prop %}

<a href="{{ obj.get_absolute_url }}"><h1></h1></a>

  <div class="col-sm-6 col-md-6 styA">
    <div class="thumbnail">
      <!--<img src="..." alt="...">-->
      <div class="caption">

      {% if obj.image %}
        <img class="img-responsive" src="{{ obj.image.url}}"/>
      {% endif %}
          <h4>{{ obj.vname }}</h4>
        <p><a href="{{obj.get_absolute_url}}" class="btn btncust" role="button">View Venture</a></p>
      </div>
    </div>
  </div>


{% endfor %}
</div>
{% endblock %}
