<!-- #Created by Wesley Garlock Version 1.0 Published June 8th 2016 -->
{% extends 'base.html' %}
{% load staticfiles %}


{% block head_title %}{{prop.ventid}} | {{ block.super}} {% endblock %}

{% block content %}
{% if a %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable({{a|safe}});

        var options = {
          title: '',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
{% endif %}
<div class="panel paneltext col-*-4 styA">
    <div class="panel-heading styA">
        <h3 class="panel-title">{{ prop.vname}}</h3>
    </div>
    <div class="panel-heading styA">
        <h3 class="panel-title">Description</h3>
    </div>
    <div class="panel-body">
        <p>{{ prop.descript }}</p>
    </div>
    {% if prop.image %}
        <img class="img-responsive" src="{{ prop.image.url}}"/>
    {% endif %}
</div>
<div class="panel chartpanel col-*-8 styA">
  {% if a %}
    <div class="panel-heading styA">
        <h3 class="panel-title">{{prop.vname}} Performance</h3>
    </div>
    <div class="panel-body styA">
        <div id="curve_chart" class = ""></div>
    </div>
  {% endif %}
    <div class="panel-heading styA">
        <h3 class="panel-title">{{prop.vname}} Files <small>click on image below</small></h3>
    </div>
    <div class="panel-body styA">
        <script src="https://files.3rdmg.com/assets/signin_form.js", data-onehub="signin-dabba629bb7f27e563d3e921f3a8c733"></script>
    </div>
</div>



{% endblock %}
